services:
  app:
    build: .
    ports:
      - "80:8000"
    volumes:
      - ./database:/app/data
    environment:
      - DB_PATH=/app/data/my_database.db
    depends_on:
      - db

  db:
    image: mariadb:latest
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: qwerty123
      MYSQL_DATABASE: cars
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "8081:8080"
    volumes:
      - ./database:/var/www/html/db_files

# ЭТОТ БЛОК ОБЯЗАТЕЛЕН (из-за него была ошибка):
volumes:
  db_data: